<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HyR Control</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
</head>

<body>
    <section class="hero is-light is-fullheight ">

        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                      </a>
                      <div class="navbar-menu" id="navMenu">
                        <!-- navbar-start, navbar-end... -->
                        <div class="navbar-end">
                            <a href="/" class="navbar-item">
                                Inicio
                            </a>
                            <a href="upload" class="navbar-item">
                                Carga
                            </a>
                        </div>  
                      </div>
                      <script>
                        $(document).ready(function() {
                            // Check for click events on the navbar burger icon
                            $(".navbar-burger").click(function() {
                                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                                $(".navbar-burger").toggleClass("is-active");
                                $(".navbar-menu").toggleClass("is-active");
                            });
                          });
                        </script> 

                    
                </div>
            </nav>
        </div>
        

        <div class="hero-body">
            <div class="container has-text-centered">
                {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                  {% for type, content in messages %}
                  {%if type=='success'%}
                    {%set type='is-success'%}
                  {%elif type == 'danger'%}
                    {%set type='is-danger' %}
                  {%endif%}
                    <div class="notification {{type}} is-light alert-dismissible p-0 alert">
                      <button class="close button is-small"
                              data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      {{ content }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {% block content %}{% endblock %}
            </div>
        </div>
    </section>
</body>

</html>